@tailwind base;
@tailwind components;
@tailwind utilities;

/* tool tip botttom */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #1e293b;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #1e293b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* tool tip arrow */
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1e293b transparent transparent transparent;
}
